<div class="aux" [class.hidde]="status()==='close'"></div>
<div class="{{status()}} sidebar">
  <button (click)="handle()" type="button" class="icon-chevrons-left text-sm"></button>
  <div class="header">
    <div>
      <img src="{{this.icon}}" alt="app icon" width="{64}" height="{64}">
    </div>
    <h3 class="font-semibold font-jetbrains text-2xl italic capitalize">{{this.title}}</h3>
  </div>
  <ul class="body">
    @for (item of items; track $index){
    <li class="font-jetbrains">
      <h4 class="font-light text-sm capitalize">{{item.name}}</h4>
      <ul>
        @for (element of item.items; track $index){
        <li>
            <a [routerLink]="item.basePath + element.path"
               [class.active-path]="activePath() === (item.basePath + element.path)" class="item">
                <i class="{{element.icon}} text-lg"></i>
                <h5 class="font-light text-sm capitalize">{{element.label}}</h5>
            </a>
        </li>
        }
      </ul>
    </li>
    }
  </ul>
</div>
