/* === Font Family Utilities === */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

/* === Italic Utilities === */
.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem !important;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem !important;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem !important;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem !important;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem !important;
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem !important;
  line-height: 1;
}

.text-8xl {
  font-size: 6rem !important;
  line-height: 1;
}

.text-9xl {
  font-size: 8rem !important;
  line-height: 1;
}
